flows.json
[
    {
        "id": "4e78e26741282862",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48458680c31f77bd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "clientId-p2W7YHDBFh",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c24af43b333a1d6b",
        "type": "mqtt in",
        "z": "4e78e26741282862",
        "name": "HiveMQTT",
        "topic": "question/1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "48458680c31f77bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "2692026beff84cc9",
                "b17c499bb57232c3"
            ]
        ]
    },
    {
        "id": "2692026beff84cc9",
        "type": "debug",
        "z": "4e78e26741282862",
        "name": "MQTT Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "4c9455516d05edfc",
        "type": "debug",
        "z": "4e78e26741282862",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 280,
        "wires": []
    },
    {
        "id": "b17c499bb57232c3",
        "type": "function",
        "z": "4e78e26741282862",
        "name": "Compare 2 numbers",
        "func": "// Set the Regular expression to extract numbers only\nvar re = /[0-9]+/;\n// get the first number\nvar first_match = re.exec(msg.payload)[0];\n// slice the message so we can search for the second number\nlet startSearchFrom = msg.payload.indexOf(first_match);\nlet result = msg.payload.slice(startSearchFrom\n                                 + first_match.length);\n\n// get the second number\nvar second_match = re.exec(result)[0];\n\n// start the division function : \nlet numerator = parseInt(first_match);\nlet denominator = parseInt(second_match);\n\ntry {\n    if (numerator / denominator) {\n        result = numerator / denominator;\n    }\n}\ncatch {\n    result = false;\n}\nmsg.payload = result\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "6f8a7c3b13957dcf",
                "a685a0cf8b9c7995"
            ]
        ]
    },
    {
        "id": "6f8a7c3b13957dcf",
        "type": "debug",
        "z": "4e78e26741282862",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "a685a0cf8b9c7995",
        "type": "mqtt out",
        "z": "4e78e26741282862",
        "name": "",
        "topic": "answer/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "48458680c31f77bd",
        "x": 720,
        "y": 280,
        "wires": []
    }
]